html,
body {
  height: 100%;
    
}

#loginbody {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
}



.form-control {
	padding: 10px;
	margin: 10px;
}

#loginInvalid {
	padding: 10px;
	margin: 10px;
}

.container {
	padding: 10em;
}

#navbar {
	padding-left: 10em;
	padding-right: 10em;
}